[submodule "share/tools/rpi-headers"]
	path = share/tools/rpi-headers
	url = https://github.com/emmercm/rpi-headers.git
[submodule "share/tools/Network-Interfaces-Script"]
	path = share/tools/Network-Interfaces-Script
	url = https://github.com/leonsio/Network-Interfaces-Script.git
