[submodule "share/tools/Network-Interfaces-Script"]
	path = share/tools/Network-Interfaces-Script
	url = https://github.com/leonsio/Network-Interfaces-Script.git
[submodule "share/tools/arm-board-detect"]
	path = share/tools/arm-board-detect
	url = https://github.com/leonsio/arm-board-detect.git
[submodule "share/tools/rpi-source"]
	path = share/tools/rpi-source
	url = https://github.com/notro/rpi-source
[submodule "share/modules"]
	path = share/modules
	url = https://github.com/leonsio/YAHM-Module
[submodule "share/firmware"]
	path = share/firmware
	url = https://github.com/leonsio/YAHM-Firmware
