[submodule "share/tools/rpi-headers"]
	path = share/tools/rpi-headers
	url = https://github.com/emmercm/rpi-headers.git
[submodule "share/tools/ubi_reader"]
	path = share/tools/ubi_reader
	url = https://github.com/jrspruitt/ubi_reader.git
